:root {
    --color-orange: #FACA47;
    --color-white: #FFF;
    --color-black: #000000;
    --color-brown: #AD2D11;
    --color-background: #FFF;
}

html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background: var(--color-background);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Open Sans';
    margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*:focus-visible {
    outline: none;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

picture>img {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hidden {
    /* visibility: hidden; */
    position: absolute;
    width: 0;
    height: 0;
    left: -100%;
    z-index: 0;
}

.header-container {
    padding-bottom: 122px;
}

header {
    padding-top: 128px;
}

.heading {
    font-size: 22px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.currency {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.currency__heading {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #777F85;
    margin-bottom: 16px;
}

.currency-arrows {
    display: flex;
    align-items: end;
}

.currency__btn-replace {
    width: 50px;
    height: 55px;
    background-image: url(./../images/arrows.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 41px;
}

.currency-convert__display,
.currency-current__display {
    max-width: 380px;
    width: 100%;
    height: 136px;
    overflow-y: hidden;
    border: 1px solid #C0CAD6;
    border-radius: 2px;
    word-wrap: unset;
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    padding: 32px 24px 60px;
}

/* main container */

.main-container {  
}

.main__list {
    list-style-type: none;
    padding: 0;
    border: 1px solid #C0CAD6;
}

.main__item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 22px 24px;
    border-bottom: 1px solid #C0CAD6;
}

.main__item-code, .main__item-nominal {
    display: flex;
    width: 100%;
    max-width: 118px;
}

.gray {
    color: #777F85;
}

.main__item-name,
.main__item-vulue {
    width: 100%;
    max-width: 298px;
}

.flags {
    max-width: 27px;
    max-height: 20px;
    margin-right: 8px;
}

/* choices */

.choices {
    width: 100%;
    max-width: 380px;
}

.choices__inner {
    background-color: #287EA2;
    min-height: 40px;
    border: 1px solid #C0CAD6;
    border-radius: 4px;
}

.choices[data-type*=select-one]:after {
    height: 6px;
    width: 12px;
    z-index: 3;
    right: 24px;
    background-image: url('./../images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-width: 0;
}

.choices[data-type*=select-one]:before {
    content: '';
    width: 60px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #C0CAD6;
    border-radius: 0px 4px 4px 0px;

}

.choices[data-type*=select-one].is-open:after {
    top: 60%;
    transform: rotate(-180deg);
}

/* .choices__placeholder {
    opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
    display: none;
} */

.choices__list--single .choices__item {
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    line-height: 14px;
    font-size: 14px;
    padding-left: 52px;
}

@media (max-width: 1024px) {

    .container {
        max-width: 820px;
    }

    .heading {
        font-size: 30px;
    }

    .currency {
        flex-direction: column;
        align-items: center;
    }

    .choices {
        max-width: 820px;
        width: 100%;
    }
}